name: Boltz Claim DEV CI/CD

on:
  push:
    branches: [develop]
  workflow_dispatch:

env:
  DOCKER_TAGS: dfxswiss/boltz-claim:beta
  AZURE_RESOURCE_GROUP: rg-lds-api-dev
  AZURE_VM_NAME: vm-lds-btc-dev
  NODE_VERSION: 22.14.0
  NODE_ENVIRONMENT: dev

jobs:
  build-and-push:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Get short SHA
        id: sha
        run: echo "short=$(echo ${{ github.sha }} | cut -c1-7)" >> $GITHUB_OUTPUT

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ env.DOCKER_TAGS }}
          build-args: |
            COMMIT_HASH=${{ steps.sha.outputs.short }}

      - name: Log in to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.LDS_DEV_CREDENTIALS }}

      - name: Update Azure VM docker container
        uses: azure/CLI@v2
        with:
          inlineScript: |
            echo "Update docker container..."

            az vm run-command invoke \
              --resource-group ${{ env.AZURE_RESOURCE_GROUP }} \
              --name ${{ env.AZURE_VM_NAME }} \
              --command-id RunShellScript \
              --scripts "/home/lds/update-boltz.sh claim"

      - name: Logout from Azure
        if: always()
        run: |
          az logout
